# Pokemon Data Analysis

This project examines a data set from kaggle focused on [Pokemon data](https://www.kaggle.com/datasets/rounakbanik/pokemon). The project is a demonstration of learning from Cambridge Spark's Data Analysis Skills Bootcamp.

## Importing packages

We import pandas, numpy and matplotlib to import, clean, and analyse our data set.

In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

We can then import and view our data as a dataframe.

In [6]:
df = pd.read_csv('pokemon.csv')

And view its first five records:

In [9]:
df.head(5)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0

Or its info:

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 801 entries, 0 to 800
Data columns (total 41 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   abilities          801 non-null    object
 1   against_bug        801 non-null    float64
 2   against_dark       801 non-null    float64
 3   against_dragon     801 non-null    float64
 4   against_electric   801 non-null    float64
 5   against_fairy      801 non-null    float64
 6   against_fight      801 non-null    float64
 7   against_fire       801 non-null    float64
 8   against_flying     801 non-null    float64
 9   against_ghost      801 non-null    float64
 10  against_grass      801 non-null    float64
 11  against_ground     801 non-null    float64
 12  against_ice        801 non-null    float64
 13  against_normal     801 non-null    float64
 14  against_poison     801 non-null    float64
 15  against_psychic    801 non-null    float64
 16  against_rock       801 non-null    float64
 17  against_steel      801 non-null    float64
 18  against_water      801 non-null    float64
 19  attack             801 non-null    int64
 20  base_egg_steps     801 non-null    int64
 21  base_happiness     801 non-null    int64
 22  base_total         801 non-null    int64
 23  capture_rate       801 non-null    object
 24  classfication      801 non-null    object
 25  defense            801 non-null    int64
 26  experience_growth  801 non-null    int64
 27  height_m           781 non-null    float64
 28  hp                 801 non-null    int64
 29  japanese_name      801 non-null    object
 30  name               801 non-null    object
 31  percentage_male    703 non-null    float64
 32  pokedex_number     801 non-null    int64
 33  sp_attack          801 non-null    int64
 34  sp_defense         801 non-null    int64
 35  speed              801 non-null    int64
 36  type1              801 non-null    object
 37  type2              417 non-null    object
 38  weight_kg          781 non-null    float64
 39  generation         801 non-null    int64
 40  is_legendary       801 non-null    int64
dtypes: float64(21), int64(13), object(7)
memory usage: 256.7+ KB

Look for null values, there might not be any if this is a squeaky clean dataset.

In terms of cleaning data, since this is a good dataset already, I'm going to focus on removing extrenous columns.

For this project, I'd like to look at things like:
- Average statistics per type, or generation
- Distribution of stats amongst a type
- Representing stats per type (e.g. with a bar chart)
- Std deviation amongst a set of stats

## Cleaning the data set

As mentioned above, I'm only using a subset of columns from the dataset. My first move is to create a new dataframe which drops unnecessary columns.

I want to drop any column that starts with 'against_'. For example, 'against_bug'.

In [42]:
pokemon_df = df.copy()

columns_to_drop = df.filter(like='against_')
pokemon_df.drop(columns=columns_to_drop, inplace=True)

pokemon_df

,abilities,attack,base_egg_steps,base_happiness,base_total,capture_rate,classfication,defense,experience_growth,height_m,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",49,5120,70,318,45,Seed PokÃ©mon,49,1059860,0.7,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",62,5120,70,405,45,Seed PokÃ©mon,63,1059860,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",100,5120,70,625,45,Seed PokÃ©mon,123,1059860,2.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",52,5120,70,309,45,Lizard PokÃ©mon,43,1059860,0.6,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",64,5120,70,405,45,Flame PokÃ©mon,58,1059860,1.1,...,88.1,5,80,65,80,fire,NaN,19.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,['Beast Boost'],101,30720,0,570,25,Launch PokÃ©mon,103,1250000,9.2,...,NaN,797,107,101,61,steel,flying,999.9,7,1
797,['Beast Boost'],181,30720,0,570,255,Drawn Sword PokÃ©mon,131,1250000,0.3,...,NaN,798,59,31,109,grass,steel,0.1,7,1
798,['Beast Boost'],101,30720,0,570,15,Junkivore PokÃ©mon,53,1250000,5.5,...,NaN,799,97,53,43,dark,dragon,888.0,7,1
799,['Prism Armor'],107,30720,0,600,3,Prism PokÃ©mon,101,1250000,2.4,...,NaN,800,127,89,79,psychic,NaN,230.0,7,1
800,['Soul-Heart'],95,30720,0,600,3,Artificial PokÃ©mon,115,1250000,1.0,...,NaN,801,130,115,65,steel,fairy,80.5,7,1

Now, I'll drop another set of columns, such as 'abilities' and 'base_egg_steps'.

My initial approach included the following:

```python 
columns_to_drop = ['abilities', 'base_egg_steps', 'classification', 'experience_growth']
pokemon_df.drop(columns=columns_to_drop, inplace=True)
```

However, I got an error here because of the spelling of classification. In the dataset, this was spelt as 'classfication'. Although convoluted, I decided to rename this column and then drop it. As this would give me a chance to showcase renaming.

In [43]:
pokemon_df.rename(columns={'classfication': 'classification'}, inplace=True)

columns_to_drop = ['abilities', 'base_egg_steps', 'classification', 'experience_growth', 'japanese_name', 'base_happiness']
pokemon_df.drop(columns=columns_to_drop, inplace=True)

pokemon_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 801 entries, 0 to 800
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   attack           801 non-null    int64
 1   base_total       801 non-null    int64
 2   capture_rate     801 non-null    object
 3   defense          801 non-null    int64
 4   height_m         781 non-null    float64
 5   hp               801 non-null    int64
 6   name             801 non-null    object
 7   percentage_male  703 non-null    float64
 8   pokedex_number   801 non-null    int64
 9   sp_attack        801 non-null    int64
 10  sp_defense       801 non-null    int64
 11  speed            801 non-null    int64
 12  type1            801 non-null    object
 13  type2            417 non-null    object
 14  weight_kg        781 non-null    float64
 15  generation       801 non-null    int64
 16  is_legendary     801 non-null    int64
dtypes: float64(3), int64(10), object(4)
memory usage: 106.5+ KB

I want the Pokemon number to the be first column in the dataset, and the second to be its name.

Next, I'll clean up values.

- I'd like 'is_legendary' to be `True` or `False`
- type2 should either be a type or the string 'none', currently we have some `NaN` values
- percentage male contains `NaN` values. I'd like to replace these with 0, if a pokemon is genderless, none of them are male!

In [ ]:
# Clean up values

## Distribution

- Normal distribution of defense stat

In [49]:
mean_def = df['defense'].mean()
median_def = df['defense'].median()
mode_def = df['defense'].mode()

print(mean_def, median_def, mode_def)
print(mode_def)

73.00873907615481 70.0 0    50
Name: defense, dtype: int64
0    50
Name: defense, dtype: int64